<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MCQ</title>
  <meta name="description" content="A multiple choice question quiz application">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <meta name="author" content="Simeon Adegbola">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Raleway&display=swap" rel="stylesheet"> 
  <link href="/static/styles/index.css" rel="stylesheet" />

</head>

<body>
<header>MCQ</header>
<main>
  <div class="directive">
    Sorry, You failed. Your score was <% gradePercent %>%
  </div>
</main>
</body>
</html>
